code {
  font-size: 1.8rem;
  color: #e74c3c;
}
input[type="text"] {
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  height: 30px;
  text-indent: 10px;
  font-size: 1rem;

  &::placeholder {
    font-style: italic;
  }
}
